*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+ */
    -webkit-user-select: none; /* Safari*/
    user-select: none;
}

body {
    /*background-color: #f0e4da;*/
    font-family: 'Montserrat', sans-serif;
}
  
  /*--Menú--*/
header{
    position:fixed;
    width: 100%;
    height: 100px;
    top: 0;
    padding: 0;
    display:inline-flex;
    background: #258424;
    z-index: 1;
}

.logo{
    width:20%; 
    border-radius: 50%;
    margin-left: 5rem;
    margin-top: 0.1rem;
}

.menu{
    margin-left: -2rem;
    align-items: center;
    display:flex;
    margin-right: 2rem;
}

nav{
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
}

nav li ul{
    text-align: center;
    display:none;
    position:absolute;
    top: 44px;
    left:0px;
}
  
nav li ul li ul{
    display:none;
    position:absolute;
    top:0;
    left:268px;
}
  
nav li:hover>ul{
    display:block;
}

.menu a{
    text-decoration:none;
    font-size:18px;
    color: #fff;
    width: 200px;
    text-align: center;
    font-weight: 600;
}
  
  
.menu li{
    display:flex;
    padding:10px 45px;
    position:relative;
    color: black;
    background-color:#258424;
}

.menu li:hover{
    background:#1a6118;
    border-radius: 10px;
}

main{
    margin-top: 9rem;
    margin-left: 1rem;
    margin-right: 1rem;
    margin-bottom: 2.5rem;
}

.img-index{
    width: 100%;
}

.container h3{
    margin-bottom: 1rem;
    margin-top: 2rem;
    font-size: 30px;
}

/*--Carousel--*/
.imagen{
    max-width: 99%;
    height: 100%;
}

.container-one{
    width:50%;
    display:flex;
    align-items:center;
    justify-content: center;
}

.container-all{
    position: relative;
    max-width: 15px;
    width: 100%;
    border-radius: 10px;
    overflow: hidden;
}

.slide{
    display: flex;
    transform: translate3d(0, 0, 0);
    transition: all 608ms;
    animation-name: autoplay;
    animation-duration: 20s;
    animation-direction:normal;
    animation-fill-mode: forwards;
    animation-iteration-count:infinite;
}
  
.item-slide{
    position: relative;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    flex-grow: 0;
    max-width: 100%;
}
  
.pagination{
    height: 300px;
    position: absolute;
    bottom: 20px;
    left: 0;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    width: 100%;
}
  
.pagination-item{
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 2px solid #fff;
    width: 16px;
    height: 16px;
    border-radius: 4px;
    overflow: hidden;
    cursor: pointer;
    background: rgba(255, 255, 255, 0.5);
    margin: 0 5px;
    text-align: center;
    transition: all 300ms;
}
  
.pagination-item:hover{
    transform: scale(2);
}
  
.pagination-item .imagenes{
    display: inline-block;
    max-width: none;
    height: 10px;
    transform: scale(1);
    opacity: none;
    transition: all 300ms;
}
  
.pagination-item:hover .imagenes{
    opacity: 1;
    transform: scale(1); 
}
  
input[id="1"] :checked  ~ .slide{
    animation: none;
    transform: translate(0, 0, 0);
}
  
input[id="1"] :checked ~ .pagination .pagination-item[for="1"]{
    background-color: #fff;
}
  
input[id="2"]:checked~.slide{
    animation: none;
    transform: translate(calc(-100% * 1), 0, 0);
}
  
input[id="2"]:checked~.pagination .pagination-item[for="2"]{
    background-color: #fff;
}
  
input[id="3"]:checked~.slide{
    animation: none;
    transform: translate(calc(-100% * 2), 0, 0);
}
  
input[id="3"]:checked~.pagination .pagination-item[for="3"]{
    background-color: #fff;
}

input[id="4"]:checked~.slide{
    animation: none;
    transform: translate(calc(-100% * 2), 0, 0);
}
  
input[id="4"]:checked~.pagination .pagination-item[for="3"]{
    background-color: #fff;
}

input[id="5"]:checked~.slide{
    animation: none;
    transform: translate(calc(-100% * 2), 0, 0);
}
  
input[id="5"]:checked~.pagination .pagination-item[for="3"]{
    background-color: #fff;
}
  
@keyframes autoplay{
    14.28%{
      transform: translate3d(calc(-100% * 0), 0, 0);
    }
    40.54%{
        ransform: translate3d(calc(-100% * 1), 0, 0);
    }
    90%{
      transform: translate3d(calc(-100% * 3), 0, 0);
    }
}

div#quienes-somos{
    overflow: hidden;
    color: transparent;
}

.nosotros h2, h3{
    margin-top: 4rem;
    font-size: 55px;
    text-align: center;
    color: #4D3C26;
}

.nosotros p{
    margin-top: 2rem;
    font-size: 30px;
    margin-left: 70px;
    margin-right: 70px;
    text-align: justify;
}

#logo1{
    margin: auto;
    display: flex;
    margin-top: 1rem;
}

/*documentos*/
.documentos li{
    list-style-type: none;
    font-size: 25px;
    margin-left: 6rem;
    margin-top: 2rem;
    margin-right: 6rem;
}

.documentos p{
    font-size: 25px;
    margin-left: 7.5rem;
    margin-top: 1rem;
    margin-right: 6rem;
}

.documentos a{
    color: blue;
    text-decoration: none;
}

/*footer*/
.footer{
    width: 100%;
    height: 100%;
    position: relative;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    background: #258424;
    font-size: 20px;
    border-top: 1px solid #dadce0;
}
  
.footer .title{
    font-size: 40px;
}
  
.footer ul{
    color: white;
    margin: 15px ;
    list-style: none;
    padding-left: 0;
    margin-left: 50px;
}

.fund{
    font-weight: 700;
    font-size: 30px;
}
  
.link{
    font-size: 22px;
    color: aqua;
    
}
  
.footer .redes{
    font-size: 25px;
}
  
.whats i{
    color: white;
    font-size: 35px;
    margin-left: 5px;
    margin-right: 15px;
}
  
.face i{
    color: white;
    font-size: 35px;
}


/*responsive*/
@media (min-width: 375px) and (max-width: 654px) {
    header{
        width: 100%;
        height: 100px;
    }
    
    .logo{
        width: 90px;
        margin-left: 1.5rem;
        border-radius: 50%;
        margin-top: 0.1rem;
    }
    
    .menu{
        margin-left: -1rem;
        align-items: center;
        display:block;
       /* margin-right: 25rem;*/
    }
    
    nav li ul{
        position:absolute;
        top: 30px;
    }
      
    nav li ul li ul{
        left:28px;
    }
    
    .menu a{
        font-size:15px;
        width: 150px;
    }   

    .menu li{
        padding:5px;
    }

    /*carousel*/

    .imagen{
        max-width: 100%;
        height: 500px;
    }
    
    .container-one{
        width:150%;
        display:flex;
        align-items:center;
        justify-content: center;
    }    

    @keyframes autoplay{
        50%{
            transform: translate3d(calc(-100% * 1), 0, 0);
        }
        95%{
          transform: translate3d(calc(-100% * 3), 0, 0);
        }
    }

    .nosotros h2, h3{
        margin-top: 4rem;
        font-size: 45px;
    }
    
    .nosotros p{
        font-size: 20px;
        margin-left: 60px;
        margin-right: 60px;
    }
    
    #logo1{
        width: 8.5rem;
    }

    .documentos li{
        font-size: 25px;
        margin-left: 3rem;
        margin-top: 2rem;
        margin-right: 3rem;
    }
    
    .documentos p{
        font-size: 25px;
        margin-left: 3.5rem;
        margin-top: 1rem;
        margin-right: 3rem;
    }
    

}